defaults:
  # cli overrides
  - exp: ???
  - dataset: ???
  - model: noop

  # # this only works when `hydra.mode=RUN`. 
  # # I'm doing Python trickery so that it works
  # # even if `hydra.mode=MULTIRUN`. 
  # # 
  # # autocomposing (AFTER cli overrides)
  # - _auto/limits@limits: ${dataset}
  # - _auto/dataset@dataset: ${model}
  # - _auto/exp_model@_here_: ${exp}_${model}
  # - optional _auto/loss@loss: ${exp}

  # - hydra
  - _self_

train:
  lr: 0.001
  epochs: 10
  dropout: 0.1
  lr_warmup: 50
  batch_size: 50
  clip_grad_norm: 5
  validation_split: 0.2
  clamp_samples: null

devices:
  device: gpu
  pin_memory: true
  non_blocking: true
  dtype: float32 # also can be float16
  eval: gpu # specially for histo filling 

modes:
  train: true
  eval: true
  plot: true
  recycle: false

data:
  run: 1
  ckpts: checkpoints.pt
  run_dir: run_dirs/${dataset.key}/${exp.key}/${model.key}/${.run}
